@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

$primary: #5000b5;
$secondary: #5000b555;
$dark: rgba(0, 0, 0, 0.8);

$base-solid: 1.5px;
$base-radius: 15px;
$base-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
$base-font-size: 1rem;
